@import './NavHeader/NavHeader';
@import './Logo/Logo';

header{
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1240px;
    padding: 0 50px;
}

@media screen and (max-width: 1024px){
    header{
        height: 58px;
        padding: 0 30px;
    }
    
}

@media screen and (max-width: 768px){
    header{
        height: 47px;
        padding: 0 20px;
    }
    
}

