@import "../../styles/main.scss";

.about-container {
    display: flex;
    flex-direction: column;
    gap: 38px;
    .banner-about {
        @include banner;
    }
    section {
        padding: 0px 110px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
