$max-width: 1240px;

$primary: #ff6060;
$secondary:#F6F6F6;
$greyLight: #f7f7f7;
$greyDark: #c4c4c4;
$grey: #e3e3e3;

@mixin banner{
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 25px;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    }