@import "../../styles/variables.scss";



.collapse-container {
    width: 100%;
    gap: 30px;
    button {
        width: 100%;
        height: 54px;
        color: white;
        background-color: $primary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        font-size: 2.4rem;
        font-weight: 700;
        img {
            width: 32px;
            height: 32px;
            transition: 200ms ease-in-out;
        }
    }
    :hover {
        cursor: pointer;
    }
    img.rotate {
        transform: rotate(-180deg);
    }
    p.hidden {
        transition: 300ms ease-in;
        overflow: hidden;
        line-height: 0;
        padding: 0 1em;
        font-size: 1.8rem;
        color: white;
        opacity: 0;
    }
    p.visible {
        transition: 300ms 300ms ease-out;
        overflow: hidden;
        line-height: 1.5;
        color: $primary;
        font-size: 1.8rem;
        padding: 22px 15px;
        opacity: 1;
    }
}
