@import "../../styles/variables.scss";

.carousel {
    width: 100%;
    position: relative;
    height: 415px;
    overflow: hidden;
    border-radius: 25px;
    &__picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: ease-in-out 0.5s;
    }
    &__arrow-left {
        @include next-prev-arrow;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            cursor: pointer;
        }
        &--icon {
            height: 81px;
            width: 60px;
            transform: rotate(180deg);
        }
    }
    &__arrow-right {
        @include next-prev-arrow;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        &:hover {
            cursor: pointer;
        }
        &--icon {
            height: 81px;
            width: 60px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .carousel {
        height: 350px;
        &__arrow-left {
            &--icon {
                width: 35px;
            }
        }
        &__arrow-right {
            &--icon {
                width: 35px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .carousel {
        height: 255px;
        border-radius: 10px;
        &__arrow-left {
            &--icon {
                width: 24px;
            }
        }
        &__arrow-right {
            &--icon {
                width: 24px;
            }
        }
    }
}
