@import "../../styles/variables.scss";

/* Animations pour le défilement des images suivantes */
@keyframes slideInNext {
    0% {
        transform: translateX(100%) scale(1);
    
    }
    50% {
        transform: translateX(0) scale(0.97);
    }
    100% {
        transform: translateX(0) scale(1);
    }
}

@keyframes slideInPrev {
    0% {
        transform: translateX(-100%) scale(1);
    }
    50% {
        transform: translateX(0) scale(0.97);
    }
    100% {
        transform: translate(0) scale(1);
    }
}

/* Animations pour le défilement des image précédentes */
@keyframes slideOutNext {
    0% {
        transform: translateX(0) scale(1);
    }
    50%{
        transform: translateX(-100%) scale(0.97);}
    100% {
        transform: translateX(-100%) scale(0);
    }
}

@keyframes slideOutPrev {
    0% {
        transform: translateX(0) scale(1);
    }
    50% {
        transform: translateX(100%) scale(0.97);
    }
    100% {
        transform: translateX(100%) scale(0);
    }
}

.carousel {
    width: 100%;
    position: relative;
    height: 415px;
    overflow: hidden;
    border-radius: 25px;
    user-select: none;
    &__picture {
        box-sizing: content-box;
        position: absolute;
        top:0;
        left: -5px;
        right: -5px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
        &.next {
            animation: slideOutPrev 1000ms ease forwards;
        }
        &.prev {
            animation: slideOutNext 1000ms ease forwards;
        }
        &.active.next {
            animation: slideInNext 1000ms ease forwards;

        }
        &.active.prev {
            animation: slideInPrev 1000ms ease forwards;

        }
    }
    &__arrow-left {
        @include next-prev-arrow;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            cursor: pointer;
        }
        &:active {
            color: $primary;
        }
        &--icon {
            height: 81px;
            width: 60px;
            transform: rotate(180deg);
        }
    }
    &__arrow-right {
        @include next-prev-arrow;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        &:hover {
            cursor: pointer;
        }
        &--icon {
            height: 81px;
            width: 60px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .carousel {
        height: 350px;
        &__arrow-left {
            &--icon {
                width: 35px;
            }
        }
        &__arrow-right {
            &--icon {
                width: 35px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .carousel {
        height: 255px;
        border-radius: 10px;
        &__arrow-left {
            &--icon {
                width: 24px;
            }
        }
        &__arrow-right {
            &--icon {
                width: 24px;
            }
        }
    }
}
